@import './../../utils/resources'; 

.line {
  display: flex;
  gap: 5px;

  @include onTablet {
    gap: 10px;
  }
}

.shake {
  animation: horizontal-shaking $transition-duration;
}

@keyframes horizontal-shaking {
  0% { transform: translateX(0) }
  25% { transform: translateX(5px) }
  50% { transform: translateX(-5px) }
  75% { transform: translateX(5px) }
  100% { transform: translateX(0) }
 }
